<div class="welcome">
  <h1>StudyBlocks</h1>
  <span>All your flashcards, available anywhere, anytime</span>

  <span class="pointer"><i class="fa fa-arrow-left"></i> Hover over over that bar to get started</span>
</div>
