<strong class="logo">
  <a href="#">StudyBlocks</a>
</strong>
<ul class='nav-links'>
  <% if (!currentUser.isNew()) { %>
  <li>
    <a href="#/decks">Decks</a>
  </li>
  <li>
    <a href="#/courses">Courses</a>
  </li>
  <li>
    <a href="#/courses/new">Register</a>
  </li>
  <li>
    <a href="#/account">Account</a>
  </li>
  <li>
    <form action="/api/session" method="post">
      <input type="hidden" name="authenticity_token"  value="<%= $('meta[name="csrf-token"]').attr('content') %>">
      <input type="hidden" name="_method"  value="DELETE">
      <button name="button">Log Out</button>
    </form>
  </li>
  <% } else { %>
  <li>
    <a href="#/register">Register</a>
  </li>
  <li>
    <a href="#/login">Log In</a>
  </li>
  <li>
    <a href="/auth/google_oauth2">Sign in with Gmail!</a>
  </li>
  <% } %>
</ul>
