<strong class="logo">
  <a href="#">StudyBlocks</a>
</strong>
<ul class='nav-links'>
  <% if (currentUser.id) { %>
  <li>
    <a href="#/decks">Decks</a>
  </li>
  <li>
    <a class="courses-link" href="#/courses">Courses</a>
  </li>
  <li>
    <a class="newcourse-link" href="#/courses/new">Register</a>
  </li>
  <li>
    <a class="account-link" href="#/account">Account</a>
  </li>
  <li>
    <form action="/api/session" method="post">
      <input type="hidden" name="authenticity_token"  value="<%= $('meta[name="csrf-token"]').attr('content') %>">
      <input type="hidden" name="_method"  value="DELETE">
      <button name="button">Log Out</button>
    </form>
  </li>
  <% } else { %>
  <li>
    <a class="login-link" href="#/login">Log In</a>
  </li>
  <li>
    <a class="register-link" href="#/register">Register</a>
  </li>
  <li>
    <a class="guest" href="#">Guest</a>
  </li>
  <% } %>
</ul>
