<label>True
  <input type="radio" name="back" value="true" <%= card.get('back') && "checked" %>>
</label>
<label>False
  <input type="radio" name="back" value="false" <%= !card.get('back') && "checked" %>>
</label>
