<label for="front">Front</label>
<textarea id="front" name="front" rows="8" cols="40"><%= card.escape('front') %></textarea>

<label for="back">Back</label>
<%= template({card: card}) %>

<label>Enter Full Response
  <input class="format" type="radio" name="format" value="response">
</label>
<label> True or False
  <input class="format" type="radio" name="format" value="boolean">
</label>
<label>Enter Response by Field
  <input class="format" type="radio" name="format" value="field">
</label>
<label>Multiple Choice
  <input class="format" type="radio" name="format" value="choice">
</label>

<button>Update Card</button>
