<a class="cancel close" href="#">✖</a>
<label class="cards-input" for="cards-input">Select a CSV file</label>
<input id="cards-input" type="file" name="csv" value="">
<strong class="file-name"></strong>
<button class="import">Upload</button>
