<ul class="card-attrs">
  <li class="cube">
    <div class="front">
      <strong>
      <% if (card.escape('image')) { %>
          <img src="<%= card.escape('image') %>" alt="" />
      <% } else { %>
        <%= card.escape("front") %>
      <% } %>
      </strong>
    </div>
    <div class="back">
      <strong>
        <% if (card.escape('format') === "field") { %>
          <% for (attr in card.get('back')) { %>
            <%= card.get('back')[attr] %>
          <% } %>
        <% } else { %>
          <%= card.escape("back") %>
        <% } %>
      </strong>
    </div>
  </li>
</ul>
