<ul class="card-attrs">
  <li>
    <% if (currentSide === "back" && card.escape('format') === "field") { %>
      <a title="Click to Flip Card" href="#" class="flip">
      <% for (attr in card.get('back')) { %>
        <%= card.get('back')[attr] %>
      <% } %>
      </a>
      <% } else if (currentSide === "front" && card.escape('image')) { %>
        <a title="Click to Flip Card" href="#" class="flip">
          <img src="<%= card.escape('image') %>" alt="" />
        </a>
      <% } else { %>
      <a title="Click to Flip Card" href="#" class="flip"><%= card.escape(currentSide) %></a>
    <% } %>
  </li>
</ul>
