<ul class="card-attrs">
  <li>
    <strong><%= card.escape('front') %></strong>
  </li>
  <li>
    <strong><%= card.escape('back') %></strong>
  </li>
  <li>
    <strong>Correct <%= card.get('averageScore') %>% of the time</strong>
  </li>
  <li>
    <button class="delete-card">Delete</button>
  </li>
  <li>
    <button class="edit-card">Edit</button>
  </li>
</ul>
