<button class="new">Add Card</button>
<button class="delete">Delete</button>
<h1><%= deck.escape('title') %></h1>
<h2><%= deck.escape('description') %></h2>
<h3><%= deck.course().escape('title') %></h3>

<ul class="cards">
</ul>
