<ul class="deck-attrs">
  <li>
    <a href="<%= "#/decks/" + deck.id %>"><%= deck.escape('title') %></a>
    <strong><%= deck.user && deck.user.get('username') %></strong>
  </li>
  <% if (writeable) { %>
  <li>
    <button class="delete-deck">Delete</button>
  </li>
  <li>
    <button class="edit-deck">Edit</button>
  </li>
  <% } %>
</ul>
