<ul class="deck-attrs">
  <li>
    <a href="<%= "#/decks/" + deck.id %>"><%= deck.escape('title') %></a>
    <strong><%= deck.user && deck.user.get('username') %></strong>
  </li>
  <% if (writeable) { %>
    <div class="options">
      <a class="edit-deck" href="#"><div class="pencil"></div></a>
      <button class="delete-deck">Delete</button>
    </div>
  <% } %>
</ul>
