<a class="cancel" href="#">✖</a>
<label for="username">Username</label>
<input id="username" type="text" name="username" value="<%= user.escape('username') %>">

<a class="password-reset" href="#">Reset Password</a>

<div class="password-fields">
  <label for="pass"> Enter Current Password</label>
  <input id="pass" type="password" name="password" value="">
  <label for="new-pass">Enter New Password</label>
  <input id="new-pass" type="password" name="new_password" value="">
  <label for="confirm-pass">Confirm New Password</label>
  <input id="confirm-pass" type="password" name="password_confirm" value="">
</div>

<label for="email">Email</label>
<input type="text" name="email" value="<%= user.escape('email') %>">

<label for="search">Find a School</label>
<input class="search" type="text" name="some_name" value="">

<input class="search" type="button" name="some_name" value="<%= user.get('school') && user.get('school').name %>">
<select class="school-list" size="10" name="school_id">
</select>

<button class="submit">Submit</button>
