<h1>Log In</h1>

<label for="username">Username</label>
<input id="username" type="text" name="username" value="">

<label for="password">Password</label>
<input id="password" type="password" name="password" value="">
<button class="login">Log In</button>
<button class="guest">Log in as Guest</button>
