<h3>Fill out your info</h3>
<label for="username">Username</label>
<input id="username" type="text" name="username" value="">

<label for="password">Password</label>
<input id="password" type="password" name="password">

<label for="email">Email</label>
<input type="text" name="email" value="">

<button name="button">Submit</button>
