<a href="#/courses/<%= course.id %>">
  <strong><%= course.escape('course_code') %></strong>
  <strong><%= course.escape('title') %></strong>
  <strong><%= course.escape('instructor') %></strong>
</a>

<a class="drop-course" href="#">Drop Course</a>
