<div class="header">
  <h1><%= deck.escape('title') %></h1>
  <a class="nav-link" href="<%= deck.linkUrl() %>">Back to Deck</a>
  <button class="submit">Grade my test</button>
</div>

<ul class="cards-list">
</ul>
