<div class="fakeout">
  <a class="tooltip" href="<%= deck.linkUrl('tests/' + test.id) %>">
    <strong>
      <%= date.toDateString() %>
    </strong>
    <strong>
      <%= test.score %>%
    </strong>
  </a>
</div>
