/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
a, div {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  box-shadow: none;
  background: inherit;
  text-decoration: none;
}

div > .google-visualization-tooltip, circle {
  background: inherit;
  display: block;
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;
  box-shadow: none;
}

.google-visualization-tooltip {
  background: transparent;
  display: block;
}

.tooltip {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 15px;
  height: 15px;
  background: #3366cc;
  border-radius: 50%;
  -moz-transition: width 0.2s, height 0.2s, border-radius 0.2s;
  -webkit-transition: width 0.2s, height 0.2s, border-radius 0.2s;
}

.fakeout {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}

.fakeout:hover .tooltip:hover {
  width: 110px;
  height: 60px;
  border-radius: 10px;
}

.tooltip strong {
  display: block;
  white-space: nowrap;
  position: relative;
  top: 15px;
  text-align: center;
  width: 100%;
  color: white;
  opacity: 0;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}


.tooltip:hover > strong {
  opacity: 1;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
}
