/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body, form, a, div, ul, li, h1, h2, h3, button, strong, label, input {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  box-shadow: none;
  background: inherit;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-size: inherit;
  font-family: sans-serif;
}

body {
  background: white;
  width: 100%;
  height: 100vh;
}

select {
  overflow: auto;
  border: none;
  outline: none;
  box-shadow: none;
}

button {
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
}

a, img {
  display: block;
}

img {
  margin: auto;
  display: block;
}

label {
  /*cursor: pointer;*/
}

textarea, input[type="text"], input[type="password"] {
  padding: 5px;
  border: 2px solid #999;
  resize: none;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
  border: 2px solid white;
  outline: 2px solid #85ff85;
}

button {
  margin: 10px 0;
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  background: #ffacac;
}

button:hover {
  background: #ff8585;
}

.error {
    display: block;
    text-align: center;
    color: darkred;
    margin-top: 5px;
}

.home {
  position: fixed;
  right: 0;
  width: 98%;
  height: 100%;
  background: url("https://s3.amazonaws.com/studyblocks-dev/cards/images/000/000/new+folder/splash.jpg");
}

.welcome {
  background: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border: 4px solid white;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.welcome h1 {
  margin: 100px;
  font-size: 100px;
}

.welcome span {
  font-size: 50px;
  display: block;
  white-space: nowrap;
}

@-webkit-keyframes bounce {
  0%, 100% {
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }
  50% {
    -webkit-transform: translate(-55%, -50%);
            transform: translate(-55%, -50%);
  }
}

@keyframes bounce {
  0%, 100% {
    -webkit-transform: translate(-45%, -50%);
    transform: translate(-45%, -50%);
  }
  50% {
    -webkit-transform: translate(-55%, -50%);
    transform: translate(-55%, -50%);
  }
}

.pointer {
  position: absolute;
  top: 70%;
  left: 50%;
  background: transparent;
  border: 4px solid white;
  margin-top: 100px;
  display: block;
  border-radius: 10px;
  padding: 10px;
  color: white;
  -webkit-animation: bounce 5s infinite;
  -ms-animation: bounce 5s infinite;
  animation: bounce 5s infinite;
}

@media (max-width: 1300px) {
    .welcome span {
      font-size: 30px;
    }
}

.group:after {
    content: "";
    display: block;
    clear: both;
}

div.modal {
  float: left;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
 -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
}

div.modal.active {
  z-index: 1;
}

div.modal.form {
  z-index: 1;
  background: rgba(0,0,0,0.6);
}

.password-fields {
  display: none;
}

.password-fields.open {
  display: block;
}

.navbar {
  position: relative;
  left: 0;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  font-size: 16px;
  background: #acffac;
  color: transparent;
  width: 2%;
  height: 100%;
  float: left;
  -webkit-transition: width 0.25s 0.25s, color 0.25s 0.25s;
          transition: width 0.25s 0.25s, color 0.25s 0.25s;
}

.navbar:hover, .navbar.hover {
  color: #333;
  width: 200px;
}

.navbar .logo {
  text-align: center;
  font-size: 24px;
  display: block;
  font-weight: bold;
}

.logo a {
  padding: 20px 0px;
}

.navbar .nav-links {
  display: block;
}

.nav-links > li {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.nav-links a {
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
}

.nav-links a:hover {
  background: #85ff85;
}

.nav-links button {
  margin: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  background: #acffac;
  -webkit-transition: background 1s;
          transition: background 1s;
}

.navbar:hover button, .navbar.hover button {
  background: #ffacac;
}

.navbar:hover button:hover, .navbar.hover button:hover {
  background: #ff8585;
  -webkit-transition: background 0s;
          transition: background 0s;
}

.content {
  display: block;
  float: left;
  height: 100vh;
  width: 98%;
  -webkit-transition: width 0.25s 0.25s;
          transition: width 0.25s 0.25s;
  overflow: hidden;
}

.navbar:hover + .content, .navbar.hover + .content  {
  width: calc(100% - 200px);
}

h1 {
  font-size: 36px;
}

.deck-navbar {
  width: 100%;
  border-bottom: 2px solid #999;
}

.deck-navbar a {
  display: block;
  float: left;
  padding: 20px 0;
  width: 14%;
  text-align: center;
}

.deck-navbar a:hover {
  color: #acffac
}

.deck-navbar .delete:hover {
  color: #ff8585;
}

.info {
  width: 100%;
  display: inline-block;
  background: white;
  padding: 20px;
  padding-right: 0;
  margin-bottom: 20px
}

.info * {
  padding: 5px 0;
}

.nav-link {
  display: inline-block;
  font-size: 12px;
  color: #acd6ff
}

.nav-link:hover {
  color: #85c2ff;
}

/*ToolTip reset and styles*/
div > .google-visualization-tooltip, circle {
  background: inherit;
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  box-shadow: none;
}

.google-visualization-tooltip {
  background: transparent;
  display: block;
}

.tooltip {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 15px;
  height: 15px;
  background: #3366cc;
  border-radius: 50%;
 -webkit-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
  -webkit-transition: width 0.2s, height 0.2s, border-radius 0.2s;
  transition: width 0.2s, height 0.2s, border-radius 0.2s;
  overflow: hidden;
}

.fakeout {
  position: absolute;
 -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
  width: 150px;
  height: 100px;
}

.fakeout:hover .tooltip:hover {
  width: 110px;
  height: 60px;
  border-radius: 10px;
}

.tooltip strong {
  display: none;
  white-space: nowrap;
  position: relative;
  top: 15px;
  text-align: center;
  width: 100%;
  color: white;
}


.tooltip:hover > strong {
  display: block;
}
