
.cards {
  position: relative;
  border-top: 2px solid #999;
  display: block;
  background: #eee;
  min-height: calc(100vh - 246px);
  max-height: calc(100vh - 246px);
  min-width: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}

.card {
  position: relative;
  font-size: 12px;
  background: white;
  border: 2px solid #999;
  margin: 20px;
  text-align: center;
  float: left;
  padding: 20px;
  display: block;
  width: 260px;
  min-height: 260px;
}

strong {
  word-wrap: break-word;
}

.front {
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px dotted #999;
}

.card-show .back {
  display: block;
  padding: 60px 0;
  width: calc(100% - 10px);
  text-align: center;
  /*position: relative;*/
  height: 100%;
}

.deck-study .back {
  margin-top: 40px;
}

.card-show strong {
  text-align: center;
  display: block;
}

.card img {
  /*max-height: 150px*/
}

.card:hover {
  border-color: #acffac;
}
.card button {
  font-size: 0;
  max-height: 0;
  padding: 0;
  display: inline-block;
  -webkit-transition: font-size 0.5s 0.25s, max-height 0.5s 0.25s, padding 0.5s 0.25s;
}

.score {
  font-size: 12px;
  margin: 10px 0;
}


.back .field-row {
  display: block;
}
