.courses {
  padding: 20px;
  position: absolute;
  background: white;
  min-height: 600px;
  width: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.course-list {
  padding: 20px;
}

.course-list li {
  padding: 0 10px;
  border: 2px solid white;
  display: block;
}

.course-list a {
  padding: 10px 0;
  display: inline-block;
  float: left;
}

.course-list .drop-course:hover {
  color: #ff8585;
}

.course-list .drop-course  {
  float: right;
}

.course-list li:hover {
  border: 2px solid #acffac;
}

.course-list strong {
  margin-right: 40px;
}

@media (max-width: 1300px) {
  .courses {
    font-size: 14px;
  }

  .course-list strong {
    margin-right: 20px;
  }
}
