.course-registration {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 50%;
  height: calc(100% - 80px);
  padding: 20px;
}

.forms form.create, .forms form.register {
  position: static;
  width: 30%;
  height: 50%;
  margin-top: 100px;
 -webkit-transform: none;
}

form.create {
  float: right;
}

.course-registration form.register {
  padding: 20px;
  float: left;
}

.form select {
  margin-top: 10px;
  text-align: center;
  display: block;
  width: 100%;
  border-radius: 0;
  height: 230px;
  padding: 0;
  -webkit-appearance: none;
}

.forms option {
  white-space: normal;
  width: calc(100% - 24px);
  background: white;
  padding: 10px;
}

.forms option {
  border: 2px solid white;
  border-bottom: 0;
}

option:last-of-type {
  border: 2px solid white;
}

option:enabled {
  border-color: #acffac;
}

option:checked {
  box-shadow: 0 0 10px 100px #acffac inset;
}
