.cards-list {
  display: block;
  overflow: auto;
  max-height: 850px;
}

.cube-wrap {
  display: inline-block;
  -webkit-perspective: 1000px;
  perspective-origin: 50% 50px;
  background: transparent;
  margin: -20px;
}

.cube {
  position: relative;
  text-align: center;
  margin: auto;
  -webkit-transform: translateZ(-300px);
  -webkit-transition: -webkit-transform 0.75s;
  -webkit-transform-style: preserve-3d;
}

.card-review {
  margin: 120px 0;
}

.front-face, .back-face, .right-face, .left-face, .top-face, .bottom-face {
  background: white;
  box-sizing: border-box;
}

.back-face, .right-face, .left-face, .top-face, .bottom-face {
  position: absolute;
}

.front-face {
  -webkit-transform: translateZ(150px);
  transform: translateZ(150px);
}

.bottom-face {
  -webkit-transform: rotateX(-90deg) translateY(150px);
  transform: rotateX(-90deg) translateY(150px);
  transform-origin: bottom center;
}

.right-face {
  transform: rotateY(-270deg) translateX(150px);
  transform-origin: top right;
}

/* Rotate the cube */
.flip-up {
  /*-webkit-transform: rotateX(90deg) translate3d(0, -150px, 0);*/
  transform: rotateX(90deg) translateY(-150px);
}

.flip-right {
  -webkit-transform: translate3d(50px, 0, -200px) rotate3d(0, 1, 0, -90deg);
}
