.deck-form select {
  padding: 20px;
  height: 20px;
  display: block;
  overflow: visible;
  margin: 20px auto;
}

.modal .deck-form {
  padding: 10px 20px;
  border: none;
  width: 630px;
}

.deck-form .card-form {
 width: 650px;
 padding: 10px;
 height: 100%;
 min-height: 500px;
}

.deck-form select {
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  -ms-appearance: menulist;
  -o-appearance: menulist;
  appearance: menulist;
}

.cards-preview {
  margin: auto;
  background: #eee;
  max-height: 500px;
  max-width: 325px;
  overflow-y: auto;
  overflow-x: hidden;
}
