.decks {
  border-top: 2px solid #999;
  margin-top: 20px;
  padding: 20px 20px 0 20px;
  display: block;
  background: #eee;
  height: calc(100vh - 178px);
  overflow: auto;
}

.deck-tile {
  cursor: pointer;
  position: relative;
  background: white;
  margin: 20px;
  text-align: center;
  float: left;
  border: 2px solid #999;
  padding: 20px;
  width: 200px;
  height: 200px;
}

.deck-tile:hover {
  border-color: #acffac;
}

.deck-tile button {
  margin: auto;
}

.new-deck {
  display: inline-block;
  font-size: 20px;
}

.new-deck:hover {
  color: #85ff85;
}

.deck-tile a {
  font-size: 16px;
  margin-bottom: 40px;
}

.deck-tile .options {
  position: absolute;
  bottom: 10px;
  left: 50%;
 -webkit-transform: translateX(-50%);
 transform: translateX(-50%);
}

.edit-deck {
  margin: auto;
  display: inline-block;
}

.edit-deck:hover > .pencil {
  background: #acffac;
  border-color: #acffac;
}

.pencil {
  position: relative;
  width: 10px;
  height: 20px;
  background: black;
 -webkit-transform: rotate(45deg);
 transform: rotate(45deg);
}

.pencil:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  border-top: 10px solid black;
  border-bottom: 0 solid black;
  border-color: inherit;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  background: transparent;
}
