.modal form {
  padding: 40px;
  background: white;
  border: 1px solid #999;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

form.import {
    min-height: 100px;
}

.cancel, .close {
  float: right;
  display: inline-block;
}

.cancel:hover, .close:hover {
  color: #ff8585;
}

.modal input, .modal textarea {
  display: block;
}

.modal input[type="radio"], .modal input[type="file"] {
  position: absolute;
  left: -1000%;
}

.modal label {
  margin-top: 20px;
  margin-bottom: 5px;
  display: block;
}

.modal .format, .modal .boolean {
  display: block;
  padding: 7px 12px;
  float: left;
  margin-top: 0;
}


.modal input[type="text"], .modal input[type="password"] {
  display: block;
  margin: 2px auto;
}

.modal .field input {
  display: inline-block;
}

.image-view {
  margin: 10px auto;
  padding: 10px;
  border: 2px solid #999;
  display: none;
  width: 208px;
  height: 105px;
}

.options {
  display: inline-block;
  position: relative;
  margin-top: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

#front.inactive, .input-image.inactive {
    display: none;
}

.image-view img {
  max-width: 100%;
  max-height: 100%;
  margin: none;
  padding: none;
}

.image-view.active {
  display: block;
}

.modal label, .modal h1, .nav-link {
  text-align: center;
}

.modal .format:hover, .modal .boolean:hover {
  padding: 5px 10px;
  border: 2px solid #85ff85;
}

.modal input[type="radio"]:checked + .format, .modal input[type="radio"]:checked + .boolean {
  background: #acffac;
}

.modal button {
  margin: 20px auto;
}

.new-field, .remove-field {
  margin: 5px 0;
  display: inline-block;
}

.new-field:hover {
  color: #85ff85;
}

.remove-field:hover {
  color: #ff8585;
}

.card-form textarea {
  margin: auto;
}

.answer {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.input-image, .cards-input {
  cursor: pointer;
}

.cards-input {
    padding: 20px 0;
}

.input-image:hover, .cards-input:hover {
  color: #85ff85;
}
