.cards-list {
  display: block;
  overflow: auto;
  max-height: calc(100vh - 102px);
}

.card-review .cube-wrap{
  width: 50%;
}

.header {
  width: 100%;
  position: relative;
  height: 100px;
  color: white;
  background: black;
  border-bottom: 2px solid #999;
}

.header h1, .header a {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, calc(100px - 200%));
}

.cards-list {
  background: #eee;
}

.card-review .cube {
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.card-review {
  margin: 120px 0;
}

.card-review .front-face, .card-review .bottom-face {
  width: 100%;
  height: 300px;
  border: 5px solid black;
}

.card-review .cube:hover > .front-face, .card-review .cube:hover > .bottom-face {
  border: 5px solid #acffac;
}

.card-review strong {
  background: transparent;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
