.deck-test .card {
  float: none;
  margin: 100px auto;
  width: 50%;
  font-size: 24px;
}

.deck-test textarea {
  width: 100%;
  min-height: 200px;
}


.deck-test input[type="radio"] {
  position: absolute;
  left: -100%;
}

.deck-test label {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid black;
}

.deck-test .field {
  border: none;
}

.deck-test label:hover {
  border-color: #85ff85;
}

.deck-test input[type="radio"]:checked + label {
  background: #acffac;
}

.header button {
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: block;
  color: black;
}

.deck-test .back {
  margin: auto;
  margin-top: 10px;
  width: 800px;
  text-align: center;
}
